* {box-sizing: border-box;}

@font-face {
    font-family: Minion;
    src: url(../fuentes/MinionVariableConcept-Roman.otf);
}

@font-face {
    font-family: MyriadSuave;
    src: url(../fuentes/MyriadPro-Light.otf);
}

html,
body, main {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: MyriadSuave;
}

:root{
    --negro: black;
    --white:white;
    --blue: rgb(13, 55, 123);
    --crema: rgb(226, 195, 163);
}

body {
  background-image: url('../img/CASA\ RURAL\ AIRE-15.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    opacity: 0;
    transition: opacity 3s;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 5px 60px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header a {
  float: left;
  color: rgb(0, 36, 155);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:nth-child(even){
    cursor: text;
}

.header a:nth-child(odd):hover {
  color: rgb(0, 36, 155);
}

.header-right {
  float: right;
}

#boton-up{
    position: fixed;
    bottom: 40px;
    left: 50px;
    padding: 10px;
    background-color: rgba(0, 36, 155, 0.6);;
    border-radius: 100%;
    z-index: 99;
    transition: .5s;
}

#boton-up:hover{
    background-color: var(--blue);
    transform: scale(1.1);
}

ion-icon[name="chevron-up-outline"]{
    font-size: 40px;
    color: var(--white);
}

/* responsive del header */
@media screen and (max-width: 791px){

    .header {
        overflow: hidden;
        background-color: #ffffff;
        padding: 5px 60px;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .header a {
        float: left;
        color: rgb(0, 36, 155);
        text-align: center;
        padding: 5px;
        text-decoration: none;
        font-size: 10px; 
        line-height: 25px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 414px){

    .header {
        overflow: hidden;
        background-color: #ffffff;
        padding: 5px 60px;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .header a {
        float: left;
        color: rgb(0, 36, 155);
        text-align: center;
        padding: 2px;
        text-decoration: none;
        font-size: 7px; 
        line-height: 25px;
        border-radius: 4px;
    }

    .div__zonas__texto-3 img{
        width: 100%;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #69696946;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.redes-sociales{
    background-color: rgba(255, 255, 255, 0.575);
    width: auto; height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-icon[name="logo-facebook"]{
    font-size: 40px;
    color: rgb(37, 37, 126);
    position: relative;
    right: -42%;
    cursor: pointer;
}

ion-icon[name="logo-instagram"]{
    font-size: 40px;
    color: rgb(37, 37, 126);
    position: relative;
    right: -43%;
    cursor: pointer;
}

@media (max-width: 653px){
    ion-icon[name="logo-facebook"]{
        font-size: 25px;
    }
    
    ion-icon[name="logo-instagram"]{
        font-size: 25px;
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 13rem;
}
.logo > *{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eslogan h1{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 1;
    text-shadow: 8px 8px 8px #000000;
}

@media (max-width: 767px){
    .eslogan h1{
        font-size: 1em;
    }
}

.logo-image img{
    width: 25%; height: 25%;
}

@media (max-width: 653px){
    .logo-image img{
        width: 50%; height: 50%;
    }
}


.div-azul{
    width: 100%; 
    height: 1vh;
    background-color: rgb(55, 55, 141);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
}

.div__hojita{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div__hojita__img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.div__hojita__img img{
    width: 25%; height: 25%;
}

.div__hojita__texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #000000d0;
    font-weight: 400;
    text-align: center;
    width: 52%;
}

@media (max-width: 1333px){
    .div__hojita__texto{
        padding: 50px;
        font-size: 17px;
        line-height: 50px;
        width: 80%;
    }
}

@media (max-width: 900px){
    .div__hojita__texto{
        padding: 25px;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
        width: 100%;
    }
}

@media (max-width: 653px){
    .div__hojita__texto{
        padding: 20px;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
        width: 100%;
    }

    .div__hojita__img img{
        width: 15%; height: 15%;
    }
}

.div__zonas{
    width: 100%;
    background-color: var(--crema);
    display: flex;
    justify-content: center;
}

.div__zonas-2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.div__zonas-3{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--crema);
}

.div__zonas__texto{
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 90px;
    width: 50%;
}

.div__zonas__texto-2{
    display: flex;
    flex-direction: column;
    color: var(--blue);
    padding: 90px;
    width: 50%;
}

.div__zonas__texto-3{
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 90px;
    width: 50%;
}

@media (max-width: 1279px){
    .div__zonas{
        align-items: center;
        flex-direction: column;
    }
    
    .div__zonas-2{
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .div__zonas-3{
        align-items: center;
        flex-direction: column;
        height: auto;   
    }

    .div__zonas__texto{
        width: 90%;
    }
    
    .div__zonas__texto-2{
        width: 90%;
    }
    
    .div__zonas__texto-3{
        width: 90%;
    }
}

@media (max-width: 653px){
    .div__zonas__texto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--white);
        padding: 20px;
        width: 50%;
    }
    
    .div__zonas__texto-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blue);
        padding: 20px;
        width: 50%;
    }
    
    .div__zonas__texto-3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--white);
        padding: 20px;
        text-align: center;
        width: 50%;
    }
}

.div__zonas__texto-h2{
    font-weight: 100;
}

.div__zonas__texto-h2-2{
    font-weight: 100;
}

.div__zonas__texto-h2-3{
    font-weight: 100;
}

.div__zonas__texto-p{
    text-align: left;
    font-size: 20px;
}

.div__zonas__texto-p-2{
    text-align: left;
    font-size: 20px;
}

.div__zonas__texto-p-3{
    text-align: left;
    font-size: 20px;
}

@media (max-width: 653px){
    .div__zonas__texto-h2{
        text-align: center;
        word-spacing: 10px;
    }
    
    .div__zonas__texto-h2-2{
        font-weight: 100;
        word-spacing: 10px;
    }
    
    .div__zonas__texto-h2-3{
        font-weight: 100;
        word-spacing: 10px;
    }
    
    .div__zonas__texto-p{
        text-align: center;
    }
    
    .div__zonas__texto-p-2{
        text-align: center;
    }
    
    .div__zonas__texto-p-3{
        text-align: center;
    }
}

.div__zonas__imagen{
    margin: 0px auto;
    height: auto;
    width: 50%;
    float: right;
    overflow: hidden; 
}

.div__zonas__imagen-2{
    height: auto;
    width: 50%;
    float: right;
    overflow: hidden;
    margin: 0px auto;
}

.div__zonas__imagen-3{
    height: auto;
    width: 50%;
    float: right;
    overflow: hidden;
    margin: 0px auto;
}

@media (max-width: 1279px){
    .div__zonas__imagen{
        width: 100%;
    }
    
    .div__zonas__imagen-2{
        width: 100%;
    }
    
    
    .div__zonas__imagen-3{
        width: 100%;
    }
}


@media (max-width: 2136px){

    .div__zonas__texto-p{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-3{
        font-size: 18px;
    }
}

@media (max-width: 1320px){

    .div__zonas__texto-p{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-3{
        font-size: 18px;
    }

    
}

@media (max-width: 1226px){

    .div__zonas__texto-p{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-3{
        font-size: 18px;
    }
}

#zonas{
    border-top: 5px dashed var(--white);
    width: 300px;
    height: 1px;
    margin-left: 0;
    margin-top: 10rem;
}

#zonas-2{
    border-top: 5px dashed var(--blue);
    width: 300px;
    height: 1px;
    margin-left: 0;
    margin-top: 10rem;
}

.div__zonas__imagen img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: scale(1.4);
}


.div__zonas__imagen-2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: scale(1.7);
}

.div__zonas__imagen-3 img{
    height: 100%;
    width: 100%;
    transform: scale(1.4);
}

@media (max-width: 1224px){

    .div__zonas__texto-p{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-3{
        font-size: 18px;
    }
}

@media (max-width: 900px){

    .div__zonas__texto-p{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        font-size: 18px;
    }
    
    .div__zonas__texto-p-3{
        font-size: 18px;
    }
}

@media (max-width: 730px){

    .div__zonas__texto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--white);
        padding: 17px;
        width: auto;
    }
    
    .div__zonas__texto-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blue);
        padding: 10px;
        width: auto;
    }
    
    .div__zonas__texto-3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--white);
        padding: 17px;
        text-align: center;
        width: auto;
    }

        
    .div__zonas__texto-p{
        text-align: center;
        font-size: 18px;
    }
    
    .div__zonas__texto-p-2{
        text-align: center;
        font-size: 16px;
    }
    
    .div__zonas__texto-p-3{
        text-align: center;
        font-size: 17px;
    }
}

@media (max-width: 653px){
    .div__zonas__imagen{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        width: 100%;
        float: none;
        overflow: hidden; 
    }
    
    .div__zonas__imagen-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0px auto;
        width: 100%;
        float: none;
        overflow: hidden; 
    }
    
    .div__zonas__imagen-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        width: 100%;
        float: none;
        overflow: hidden;
    }
}

.div__info{
    height: auto;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 90px;
    
}

.div__info > *{
    margin: 50px;
}

.div__info__1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--blue);
}

.div__info__1-2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: auto;
    color: var(--blue);
}

.columna{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.div__info__2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* width: 30%; */
    color: var(--blue);
}

.div__info__2__texto{
    font-weight: 100;
    color: var(--negro);
    font-size: 20px;
}

.div__info__3__texto{
    font-weight: 100;
    color: var(--negro);
    font-size: 20px;
    margin-left: 2rem;
}

.div__info__3__div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.div__info__3 img, .div__info__4 img{
    width: 44px; height: 44px;
}

.div__info__4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--blue);
    margin: 30px;
}

hr{
    border-top: 1px dashed var(--blue);
    width: 96%;
    height: 1px;
}

@media (max-width: 1194px){
    .div__info{
        height: auto;
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 90px;
    }

    .div__info__1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blue);
        
    }
    
    .div__info__1-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--blue);
        text-align: center;
    }
    
    .columna{
        width: 100%;
    }
    
    
    .div__info__2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
        text-align: center;
    }
    
    .div__info__3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
        
    }
    
    .div__info__4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
    }

    hr{
        width: 30%;
    }
}

@media (max-width: 653px){
    .div__info{
        height: auto;
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 90px;
    }

    .div__info__1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blue);
        
    }
    
    .div__info__1-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--blue);
        text-align: center;
    }
    
    .columna{
        width: 100%;
    }
    
    
    .div__info__2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
        text-align: center;
    }
    
    .div__info__3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
        
    }
    
    .div__info__4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 186%;
        color: var(--blue);
    }

    
    .div__info__2__texto{
        font-size: 13px;
    }
    
    .div__info__3__texto{
        font-size: 12px;
    }

    hr{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* responsive del carrusel */
@media (min-width:768px){

    .owl-prev, .owl-next{
        width: 67px;
        height: 67px;
    }
    .owl-prev i, .owl-next i{
        font-size: 46px;
    }
    .owl-dots{
        left: 46.5%;
        bottom: -20px;
    }
}

.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    background-color: var(--white);
}

.container__clientes{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    background-color: var(--white);
}

.star-rating a{
    display: inline-block;
    line-height: 70px;
    font-size: 20px;
    color: rgb(211, 211, 0);
    text-decoration: none;
    text-align: center;
    cursor: text;
}

.owl-stage-outer{
    padding-top: 2rem;
}

.cards-wrapper{
   width: 100%;
   margin: 0 auto;
}
.card{
    width: 65%;
    height: 20rem;
    margin: 0 auto;
    position: relative;
}

.owl-prev, .owl-next{
    margin-right: 0;
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 150px;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in;
}
.owl-prev>i, .owl-next>i{
    color: var(--white);
    font-size: 70px;
    opacity: .7;
}
.owl-prev>i:hover,.owl-next>i:hover{
    color: rgb(112, 96, 96);
}
.owl-next:hover, .owl-prev:hover{
    border-color: white;
}

.owl-next{
    position: absolute;
    top: 50%;
    transform: translate(25%,-50%);
    transform: translateY(-50%);
    right: -8px;
}
.owl-prev{
    position: absolute;
    top: 50%;
    transform: translate(4%,-50%);
    left: -9px;
}
.owl-stage-outer{
    padding-top: 2rem;
}
.owl-dots{
            
    display: inline-flex;
    position: absolute;
    left: 20px;

}
.owl-dot{
    width: 40px;
    height: 7px;
    background-color: var(--secundario);
    opacity: .5;
    margin-right: 8px;
    
}
.owl-dots .active{
    opacity: 1;
}

.entorno{
    margin-top: 3rem;
    border-top: 1px solid rgba(128, 128, 128, 0.753);
    width: 96%;
    height: 1px;
}

.titulo-entorno{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--crema);
    font-weight: 100;
}

.div__entorno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; height: auto;
    background-color: var(--crema);
    padding: 100px;
    gap: 7rem;
}

.div__entorno__texto{
    font-size: 1.15rem;
    line-height: 50px;
    color: #000000d0;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

.div__entorno__fotos{
    display: flex;
    padding-left: 2rem;
}

.div__entorno__fotos img{
    width: 150px; height: 150px;
    border-radius: 100%;
    border: 1px solid #444;
    margin: 0 0 0 -2rem;
}

@media (max-width: 1200px){
    .div__entorno{
        padding: 21px;
        gap: 0rem;
    }

    .div__entorno__texto{
        font-size: 1.2rem;
        line-height: 35px;
        width: 80%;
    }
    
    .div__entorno__fotos{
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        padding-bottom: 4rem;
    }
    
    .div__entorno__fotos img{
        width: 100px; height: 100px;
    }
}

@media (max-width: 653px){
    .div__entorno{
        padding: 21px;
        gap: 0rem;
    }

    .div__entorno__texto{
        font-size: 1.05rem;
        line-height: 35px;
        width: 100%;
    }
    
    .div__entorno__fotos{
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        padding-bottom: 4rem;
    }
    
    .div__entorno__fotos img{
        width: 70px; height: 70px;
    }
}


.opinion{
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 959px){
    .opinion{
        height: auto;
    }
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo__opiniones{
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

.div__clientes__elemento__titulo{
    font-weight: 100;
    font-size: 1.75rem;
}

.div__clientes__elemento__titulo__mapa{
    font-size: 1.75rem;
    font-weight: 100;
    font-family: MyriadSuave;
}

.div__clientes__elemento--mapa{
    width: 100%; height: 7%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.div__mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 60%;
    background-color: var(--crema);
}

.div__info__1__texto-p{
    font-size: 1.2rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: #ffffffdc;
    color: var(--blue);
}

.footer__elemento__logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer__elemento__logo{
    height: 520px;
    width: 100px;
}

.footer__elemento__titulo{
    padding-bottom: 10px;
}

@media (max-width: 653px){
    .footer{
        height: auto;
    }
    
    .footer__elemento__logo{
        height: 140px;
    }
    
    .footer__elemento__titulo{
        font-size: 0.75rem;
    }

    #zonas{

        margin-left: auto;

    }
    
    #zonas-2{

        margin-left: auto;

    }
    .politicas-titulo{
        font-size: 17px;
    }

    .politicas-lista{
        font-size: 12px;
    }
}
.politicas{
    padding: 10px;
    background-color: #ffffffdc;
    margin: 0;
}

.politicas-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.politicas-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--blue);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.politicas-lista a{
    text-decoration: none;
    color: var(--blue);
}

@media (max-width:414px){
    .container__clientes{
        height: auto;
    }
}




.cookies{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
    justify-content: center;
}

.cookies.active{
    display: flex;
}

.contenido-cookies{
    background-color: var(--white);
    padding: 2vw 2vw;
    border-radius: 10px 10px 10px 10px;
    width: 90vw;
    margin-bottom: 2rem;
}

.btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}

.btn{
    border: none;
    outline: none;
    padding: 0.8em 1.5em;
    width: 200px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.aceptar{
    background-color: rgb(32, 204, 124);
    color: var(--white);
}